body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.login-container {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.login-container h2 {
  text-align: center; /* 使文字水平居中 */
}
.input-group {
  margin-bottom: 10px;
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #45a049;
}

/*註冊帳號連結*/
.register-link {
  text-align: right; /* 文本右對齊 */
  margin-top: 10px; /* 與表單元素的間距 */
}

.register-link a {
  color: #0000ee; /* 常見的鏈接顏色 */
  text-decoration: none; /* 去除下劃線 */
}

.register-link a:hover {
  text-decoration: underline; /* 鼠標懸停時添加下劃線 */
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px); /* 減去 header 的高度和它的內距 */
}
/*網頁大標*/
.header {
  position: fixed;
  background-color: #003366; /* 深藍色背景 */
  color: white; /* 白色文字 */
  padding: 20px 0; /* 上下有10像素的內距 */
  text-align: center; /* 文字置中 */
  width: 100%; /* 寬度設定為100% */
  box-sizing: border-box; /* 確保寬度包含內距 */
  position: fixed; /* 固定位置 */
  top: 0; /* 距離頂部0像素 */
  left: 0; /* 距離左側0像素 */
  z-index: 1000; /* 確保它在頁面的最上層 */
  /*
    background-color: #003366; 
    color: white; 
    padding: 10px 0; 
    text-align: center; 
    width: 100%; 
    box-sizing: border-box; 
    margin-bottom: 20px; */
}

/*登user類別入選擇*/
.login-options {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.login-btn {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* 讓按鈕寬度與輸入框相同 */
  margin-bottom: 20px; /* 與返回按鈕之間的間隔 */
}
