<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/homepageStyle" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0"
      crossorigin="anonymous"
    />
    <title>使用者首頁</title>
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
        font-family: Arial, sans-serif;
      }

      .container {
        display: flex;
        justify-content: space-between;
      }

      .search-section,
      .results-section {
        width: 50%;
        padding: 20px;
      }

      #symptomForm {
        display: flex;
        flex-direction: column;
      }

      /* #symptomInput {
        margin-bottom: 10px;
        height: 300px;
      } */

      #results {
        border: 1px solid #000;
        padding: 10px;
        height: 300px;
        overflow-y: auto;
      }

      .nav1-container {
        background-color: #0055a4;
      }

      .btn-primary {
        margin: 0 0px;
        color: white;
        background-color: #003366;
        border-color: #003366;
        margin-right: 10px;
      }

      .btn-search {
        margin: 0 0px;
        color: white;
        background-color: #007bff;
        border-color: #007bff;
      }

      #symptomInput {
        resize: none;
        width: 600px;
        height: 300px;
        margin-bottom: 10px;
      }

      .header {
        background-color: #003366;
        color: white;
        padding: 20px 20px;
        text-align: left;
        /* position: fixed; */
        top: 0;
        width: 100%;
        z-index: 1000;
      }

      .container1 {
        justify-content: space-between;
      }

      .bg-headerblue {
        background-color: #003366;
      }

      .bg-underheaderblue {
        background-color: #0055a4;
      }

      .bg-image {
        background: url(../image/bg.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: rgb(246, 246, 246);
        background-position: right bottom;
      }

      .container-footer {
        width: auto;
        max-width: 680px;
        padding: 0 15px;
      }
      .icon {
      width: 40px;
      height: 32px;
      background: url(../image/Icd10codeslogo.png);
      background-color: rgb(246, 246, 246);
      background-size: cover;
      background-position: center;
      border-radius: 0.5em 0.5em 0.5em 0.5em;
    }
    </style>
  </head>
  <body class="bg-image">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
      crossorigin="anonymous"
    ></script>
    <!-- <div class="header">
      ICD-10編碼查詢平台 智慧搜尋
      <form action="/logout" method="get">
        <button type="submit" class="logout-btn">登出</button>
      </form>
    </div>

    <div class="nav1-container">
      <header class="d-flex justify-content-center py-3">
        <ul class="nav nav-pills">

          <li class="nav-item"><button type="button" class="btn btn-primary" onclick="window.location.href='/dashboard'">首頁</button></li>
          <li class="nav-item"><button type="button" class="btn btn-primary" onclick="window.location.href='/changePassword'">更改密碼</button></li>
          <li class="nav-item"><button type="button" class="btn btn-primary" onclick="window.location.href='/AlSearchDashboard'">智慧搜尋</button></li>

        </ul>
      </header>
    </div> -->

    <header class="shadow-lg p-3 bg-headerblue text-white">
      <div class="container1">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <a
            href="/dashboard"
            class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none"
          >
            <!-- <svg
              class="bi me-2"
              width="40"
              height="32"
              role="img"
              aria-label="Bootstrap"
            >
              <use xlink:href="#bootstrap" />
            </svg> -->
            <div class="icon bi me-2"></div>
            <label style="font-size: 22px;">ICD-10編碼查詢平台 智慧搜尋頁面</label>
          </a>

          <ul
            class="nav col-12 col-lg-auto mx-auto mb-2 justify-content-center mb-md-0"
          >
            <li class="nav-item">
              <button
                type="button"
                class="btn btn-primary"
                onclick="window.location.href='/dashboard'"
                style="font-size: 18px;"
              >
                首頁
              </button>
            </li>

            <div class="dropdown">
              <button
                class="btn btn-primary dropdown-toggle"
                type="button"
                id="dropdownMenuButton1"
                data-bs-toggle="dropdown"
                aria-expanded="false"
                style="font-size: 18px;"
              >
                搜尋模式
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" style="font-size: 18px;" href="/dashboard">輔助搜尋</a></li>
                <li>
                  <a class="dropdown-item" style="font-size: 18px;" href="/AlSearchDashboard"
                    >智慧搜尋</a
                  >
                </li>
              </ul>
            </div>

            <li class="nav-item">
              <button
                type="button"
                class="btn btn-primary"
                onclick="window.location.href='/changePassword'"
                style="font-size: 18px;"
              >
                更改密碼
              </button>
            </li>
            <!-- <li><a href="/dashboard" class="nav-link px-2 text-white">首頁</a></li>
            <li><a href="/changePassword" class="nav-link px-2 text-white">更改密碼</a></li>
            <li><a href="/AlSearchDashboard" class="nav-link px-2 text-white">智慧搜尋</a></li> -->
          </ul>

          <div class="text-end">
            <form action="/logout" method="get">
              <button type="submit" class="btn btn-outline-light me-2" style="font-size: 18px;">
                登出
              </button>
            </form>
          </div>
        </div>
      </div>
    </header>

    <header class="shadow p-3 bg-underheaderblue text-white"></header>

    
      <div class="container">
        <div class="search-section">
          <form id="symptomForm" action="/AISearch" method="post">
            <label
              for="symptomInput"
              style="
                display: block;
                font-size: 2em;
                margin-block-start: 0.83em;
                margin-block-end: 0.5em;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
                font-weight: lighter;
                unicode-bidi: isolate;
                color: #2c2c2c;
                background-color: #e9e9e9;
                padding: 10px;
                border-radius: 5px;
              "
              >Enter Symptoms:</label
            >
            <textarea type="text" id="symptomInput" name="diagnosis"></textarea>
            <button
              type="submit"
              class="btn btn-search btn-outline-primary me-2"
            >
              Search
            </button>
          </form>
        </div>
        <div class="results-section">
          <label
            style="
              display: block;
              font-size: 2em;
              margin-block-start: 0.83em;
              margin-block-end: 0.5em;
              margin-inline-start: 0px;
              margin-inline-end: 0px;
              font-weight: lighter;
              unicode-bidi: isolate;
              color: #2c2c2c;
              background-color: #e9e9e9;
              padding: 10px;
              border-radius: 5px;
            "
            >Search Results:</label
          >
          <% if (typeof results !=='undefined' && results.length > 0) { %>
          <table class="table table-striped table-hover">
            <thead class="thead-light">
              <tr>
                <th scope="col">ICD-10 Code</th>
                <th scope="col">Description</th>
                <th scope="col">Detail</th>
              </tr>
            </thead>
            <tbody>
              <% results.forEach(function(prediction) { %>
              <tr>
                <td><%= prediction.code %></td>
                <td><%= prediction.description %></td>
                <td><%= prediction.detail %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
          <% } else {%>
          <p>No results found</p>
          <% } %>
        </div>

        <script></script>
      </div>
    
    <footer
      class="footer mt-auto py-3 bg-light d-flex justify-content-center align-items-center"
    >
      <div class="container-footer">
        <div class="text-muted">輔仁大學 醫學資訊與創新應用學士學位學程</div>
        <div class="text-muted">Kevin Hung</div>
        <div class="text-muted">V2.3.26</div>
      </div>
    </footer>
  </body>
</html>
