<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/homepageStyle.css" />
    <title>使用者首頁</title>
    <style>
      body,
      html {
        height: 100%;
        margin: 0;
        font-family: Arial, sans-serif;
      }

      .container {
        display: flex;
        justify-content: space-between;
      }

      .search-section,
      .results-section {
        width: 50%;
        padding: 20px;
      }

      #symptomForm {
        display: flex;
        flex-direction: column;
      }

      #symptomInput {
        margin-bottom: 10px;
        height: 300px;
      }

      #results {
        border: 1px solid #000;
        padding: 10px;
        height: 300px; /* Adjust as needed */
        overflow-y: auto;
      }
    </style>
  </head>
  <body>
    <div class="header">
      ICD-10編碼查詢平台 智慧搜尋
      <form action="/logout" method="get">
        <button type="submit" class="logout-btn">登出</button>
      </form>
    </div>

    <div class="nav-container">
      <nav class="user-nav">
        <a href="/dashboard" class="nav-link">首頁</a>
        <a href="/changePassword" class="nav-link">更改密碼</a>
        <a href="/AlSearchDashboard" class="nav-link">智慧搜尋</a>
      </nav>
    </div>

    <div class="container">
      <div class="search-section">
        <form id="symptomForm">
          <label
            for="symptomInput"
            style="
              display: block;
              font-size: 1.5em;
              margin-block-start: 0.83em;
              margin-block-end: 0.83em;
              margin-inline-start: 0px;
              margin-inline-end: 0px;
              font-weight: bold;
              unicode-bidi: isolate;
            "
            >Enter Symptoms:</label
          >
          <textarea type="text" id="symptomInput" name="diagnosis"></textarea>
          <button type="submit">Search</button>
        </form>
      </div>
      <div class="results-section">
        <h2>Search Results:</h2>
        <div id="results"></div>
      </div>
    </div>

    <script>
      // window.addEventListener("load", () => {
      //   const urlParams = new URLSearchParams(window.location.search);
      //   const message = urlParams.get("message");
      //   if (message) {
      //     alert(message);
      //   }
      // });

      // function performSearch(query) {
      //   const searchInput = document.getElementById("searchQuery");
      //   const searchForm = document.querySelector(".search-container form");

      //   searchInput.value = query;
      //   searchForm.submit();
      // }

      // function copyToClipboard(text) {
      //   navigator.clipboard
      //     .writeText(text)
      //     .then(() => {
      //       alert("複製成功");
      //     })
      //     .catch((err) => {
      //       console.error("無法複製: ", err);
      //     });
      // }
    </script>
  </body>
</html>
