<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/regisStyle.css" />
    <title>ICD-10編碼查詢平台註冊</title>
  </head>
  <body>
    <div class="header">ICD-10編碼查詢平台</div>

    <div class="register-container">
      <h2>更改密碼</h2>
      <form action="/changePassword" method="post">
        <div class="input-group">
          <label for="password">請輸入原密碼:</label>
          <input
            type="password"
            id="originpassword"
            name="originpassword"
            required
            placeholder="originalPassword"
          />
        </div>

        <div class="input-group">
          <label for="password">設定新密碼:</label>
          <input
            type="password"
            id="newpassword"
            name="newpassword"
            required
            placeholder="Password"
          />
        </div>
        <div class="input-group">
          <label for="confirm-password">再次輸入密碼:</label>
          <input
            type="password"
            id="confirm-password"
            name="confirmNewPassword"
            required
            placeholder="Confirm Password"
          />
        </div>
        <!-- <div class="input-group half-width"> 
          <label for="verification-code">驗證碼:</label>
          <input
            type="text"
            id="verification-code"
            name="verificationCode"
            required
            placeholder="Enter Verification Code"
          />
        </div>-->

        <div>
          <input type="submit" value="更改" class="submit-btn" />
          <a href="/dashboard" class="back-btn">返回</a>
        </div>
      </form>
    </div>
    <script>
      window.addEventListener("load", () => {
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get("message");
        if (message) {
          alert(message);
        }
      });
    </script>
  </body>
</html>
