<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/regisStyle.css" />
    <title>ICD-10編碼查詢平台註冊</title>
  </head>
  <body>
    <div class="header">ICD-10編碼查詢平台註冊</div>

    <div class="register-container">
      <h2>註冊帳號</h2>
      <form action="/regis" method="post">
        <div class="input-group flex-container">
          <div class="email-input-container">
            <label for="email">請輸入帳號(電子郵件):</label>
            <input
              type="email"
              id="email"
              name="email"
              required
              placeholder="Email"
            />
          </div>
          <button type="button" class="verify-btn">發送驗證碼</button>
        </div>
        <div class="input-group">
          <label for="password">設定密碼:</label>
          <input
            type="password"
            id="password"
            name="password"
            required
            placeholder="Password"
          />
        </div>
        <div class="input-group">
          <label for="confirm-password">再次輸入密碼:</label>
          <input
            type="password"
            id="confirm-password"
            name="confirmPassword"
            required
            placeholder="Confirm Password"
          />
        </div>
        <div class="input-group half-width">
          <label for="verification-code">驗證碼:</label>
          <input
            type="text"
            id="verification-code"
            name="verificationCode"
            required
            placeholder="Enter Verification Code"
          />
        </div>

        <div>
          <input type="submit" value="註冊" class="submit-btn" />
          <a href="http://localhost:3000/clearVerificationCode" class="back-btn"
            >返回</a
          >
        </div>
      </form>
    </div>
    <script>
      document.querySelector(".verify-btn").addEventListener("click", () => {
        const email = document.getElementById("email").value;
        fetch("/sendVerificationCode", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ email: email }),
        })
          .then((response) => {
            if (!response.ok) {
              throw new Error("網絡響應不是 OK");
            }
            return response.json().then((data) => ({ data, response }));
          })
          .then(({ data, response }) => {
            // 現在你可以在這裡訪問 response 和 data
            if (response.ok) {
              alert("驗證碼已發送到您的郵箱");
            } else {
              alert("錯誤：" + data.message);
            }
          })
          .catch((error) => {
            console.error("發送請求失敗：", error);
            alert("無法發送驗證碼");
          });
      });
    </script>
  </body>
</html>
