body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 60px;
}

.header {
  background-color: #003366;
  color: white;
  padding: 20px 0;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.nav-container {
  width: 100%;
  text-align: center;
  padding: 10px 0;
  background-color: #0055a4;
  top: 60px;
  z-index: 999;
}

.user-nav {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.nav-link {
  margin: 0 10px;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.search-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  margin-top: 50px;
}

.search-input {
  padding: 10px;
  margin-right: 10px;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.search-btn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.logout-btn {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);

  padding: 5px 10px;
  background-color: #dadada;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.results-table,
.history-table {
  width: 80%;
  margin: 20px auto;
  margin-top: 70px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table,
th,
td {
  border: 1px solid #ccc;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: #e9e9e9;
}

h3 {
  text-shadow: #003366;
  text-align: center;
}

.copyButtom {
  padding: 10px 0;
  justify-content: flex-end;
}
